doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TechSoz
        style. 
            body {font-family:-apple-system, -apple-system,BlinkMacSystemFont, 'Segoe UI', Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;}
    body
        h1 TechSöz'e Hoşgeldiniz.
        p Bu bir teknoloji sözlüğüdür.Teknoloji alanındaki İngilizce terimlere Türkçe karşılıklar önerebilir;önerilen terimleri görüntüleyebilir ve önerilen terimleri oylayabilirsiniz.
        
        block content
        
        script(src="https://unpkg.com/axios/dist/axios.min.js")